@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lavishly+Yours&family=Playwrite+VN+Guides&display=swap');

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #ffffff;
  color: #272727;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 20px 150px;
  padding-top: 50px;
}

header h1 {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

.login-container {
  background: white;
  padding: 100px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 50px auto;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  background-color: #929292;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #929292;
}

#error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
}